<%- include("../partials/header.ejs") %>
  <div class="container">
    <%- include("../partials/alert.ejs") %>
    <div class="col-12">
      <h2><%= paper.title %></h2>
      <% for (let i = 0; i < questions.length; i++ ) { %>
        <h5>Question <%i+1%> </h5>
        <h5><%= question.part1 %> </h5>
        <img src="../../<%= question.questionImage %>" />
        <h5><%= question.part2 %></h5>
        <h5>A: <%=question.optionA %> </h5>
        <h5>B: <%=question.optionA %> </h5>
        <h5>C: <%=question.optionA %> </h5>
        <h5>D: <%=question.optionA %> </h5>
      <% } %>
    </div>
    <a href="/questions/showanswers" class="btn btn-primary">Show answer</a>
  </div>
<%- include("../partials/footer.ejs") %>

<!-- using a loop to display all the existing questions in the database -->
