<%- include("../partials/header.ejs") %>
<div class="container">
  <%- include("../partials/alert.ejs") %>
  <h3><%= paper.assessment %></h3>
  <h6>By: <%= paper.author %></h6>
  <h6>Published on: <%= paper.publishedDate %></h6>
  <p>Topics: <%= paper.topics %></p>
  <p>Comments on multiple choice questions: <%= paper.mcqcomments %></p>
  <p>Comments on structured questions: <%= paper.sqcomments %></p>
  <p>Comments on extended answer questions: <%= paper.eqcomments %></p>
  <!-- Option to edit the paper info -->
  <a href="/papers/<%= paper.id %>/edit" class="btn btn-primary">Edit paper info</a>
  <!-- Option to add questions to the paper -->
</div>
<%- include("../partials/footer.ejs") %>