<%- include("../partials/header.ejs") %>
<div class="container">
  <%- include("../partials/alert.ejs") %>
  <img src="../../<%= post.featuredImage %>" />
  <h3><%= paper.headline %></h3>
  <h6>By: <%= paper.author %></h6>
  <h6>Published on: <%= post.publishedDate %></h6>
  <p><%= paper.content %></p>
  <a href="/papers/<%= paper.id %>/edit" class="btn btn-primary">Edit paper</a>
</div>
<%- include("../partials/footer.ejs") %>
